<div>
  <h2>Подсистема мониторинга</h2>
  <a mat-raised-button routerLinkActive="active" routerLink="./dashboard">Сводные данные</a>
  <a mat-raised-button routerLinkActive="active" routerLink="./ftppath">Мониторинг FTP</a>
  <a mat-raised-button routerLinkActive="active" routerLink="#">Мониторинг ЭТП Сбербанка</a>
  <a mat-raised-button routerLinkActive="active" routerLink="#">Мониторинг ЭТП РТС</a>
  <a mat-raised-button routerLinkActive="active" routerLink="#">Мониторинг ЭТП ЕЭТП</a>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
