################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

**/obj
**/bin
**/.vs
/Sberbank/Sberbank.Bidding/out
