<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SSDSApiLogger" type="AppLogger.Configuration.SSDSApiLoggerSection, AppLogger"/>
  </configSections>
  <SSDSApiLogger url="http://ssdssrv/SSDSApi_deploy" log-level="DEBUG">
    <Timeouts log="1000" status="1000"/>
    <Loggers>
      <Logger username="Profiler1" password="R!1.|?iW.]Br"/>
      <Logger username="Profiler2" password="|8wLUIsG$gh&gt;"/>
      <Logger username="Profiler3" password=".oSbLA6i/PTI"/>
      <Logger username="Profiler4" password="$0T=b3j$:40n"/>
      <Logger username="Profiler5" password="ED;/@o;&gt;g6cl"/>
    </Loggers>
  </SSDSApiLogger>
</configuration>